.scSearch
  +size(320px, 80px)
  +center-transform()
  top: 40%
.scSearch_form
  margin: 0
  white-space: nowrap
  overflow: hidden

input.scSearch_form_input
  display: inline-block
  width: 70%

.scSearch_form_btn
  +pos(0, top right bottom)
  display: inline-block
  width: 30%
  border-top-left-radius: 0
  border-bottom-left-radius: 0
