// ============================================
// Wall component
// ============================================

// canvas where musicalas are displayed
.wall_loader
  +size(100vw, 100vh)
  position: relative
  background: $white
  z-index: 1000

.wall_canvas
  +size(100vw, 100vh)
