.play
  +pos(0, top left)
  +size(100vw, 100vh)
  overflow: hidden

// just hididng
.play_loader
  +pos(0, top left)
  +size(100vw, 100vh)
  background: $white
  z-index: 1000

.play_loader_msg
  +center-transform()
  text-align: center
